@media screen and (orientation: landscape) {

	html {
		max-width: 375px;
	} 
}

html {
	overflow: hidden;
}

#app-wrapper {
	background-color: #000000;
	top: 0;
	transition: top 0.75s ease-in-out;
	visibility: hidden;
	transform: translate3d(0px, 0px, 0px);
	backface-visibility: hidden;
}

.user-instruction {
	color: white;
  font-family: fantasy;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 40%;
  transition: opacity 1s;
}

.left-arrow, .right-arrow {
	position: absolute;
	font-size: 60px
}

.left-arrow {
	left: 5px;
}

.right-arrow {
	right: 5px;
	display: none;
}

#intro-page-background-wrapper {
	width: 100%;
	height: 100%;
	transition: all 0.01s;
	background-repeat: no-repeat;
	background-size: 100%;
	animation-timing-function: step-end;
}

#header-logo {
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  top: 70px;
  transition: all 2s ease-in-out;
}

.section, #app-wrapper {
	margin: 0;
  padding: 0;
  width: 100%;
	position: relative;
	overflow: hidden;
}

.animate-up {
	backface-visibility: hidden;
	transform: translate3d(0px, 0px, 0px) scaleX(0.8) rotateX(50deg) translateY(100%); 
}

.animate-down {
	backface-visibility: hidden;
	transform: translate3d(0px, 0px, 0px) scaleX(0.8) rotateX(-50deg) translateY(-100%); 
}

.section {
	background-size: 100%;
	background-repeat: no-repeat;
}

#configurator {
	width: 100%;
	background-image: url('images/customizer-screenshot.png');
}

#intro-page {
 transition: background-image 0.1s;
 transition-timing-function: step-start;
}

#configurator-cta {
	background-image: url('images/configDirection.png');
}

.gallery {
	width: 100%;
	margin: 0;
}

.thumbnail {
	width: 100%;
	height: 736px;
}

.main-image-container, .main-video-container {
	position: relative;
	overflow: hidden;
	top: 50%;
  transform: translateY(-50%);
}

.thumbnail-wrapper {
	overflow: hidden;
	float: left;
	transition: width 1s;
	transform: translate3d(0px, 0px, 0px);
}

.video {
	width: 100%;
	top: 50%;
  position: absolute;
  transform: translateY(-50%);
	float: left;
	overflow: hidden;
}

.video-still {
	width: 25%;
	float: left;
	transition: width 1s;
	transform: translate3d(0px, 0px, 0px);
	height: 736px;
}

.video-still-play-button {
	width: 75px;
	top: 40%;
	transform: translateY(-50%);
	position: absolute;
	left: 10%;
	pointer-events: none;
	transition: all 0.3s;
	z-index: 2;
}

#player-close-button {
	position: absolute;
  top: 40%;
  transform: translateY(-95%) translateX(-50%);
  width: 25%;
  left: 85%;
  opacity: 0.35;
}

#iframe-wrapper {
	width: 25%;
	position: absolute;
	height: 100%;
	background-color: #000;
	overflow: hidden;
	z-index: 2;
}

#contact-info {
	background-image: url('images/KMI.png');
}