@media screen and (orientation: landscape) {

	html {
		max-width: 414px;
	} 
}

html {
	overflow: hidden;
}

#app-wrapper {
	background-color: #000000;
	top: 0;
	transition: all 0.75s ease-out;
	visibility: hidden;
	backface-visibility: hidden;
}

.user-instruction {
	color: white;
  font-family: fantasy;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 40%;
  transition: opacity 1s;
}

.left-arrow, .right-arrow {
	position: absolute;
	font-size: 60px;
	font-weight: bolder;
	transform: translateZ(1px);
}

.left-arrow {
	left: 5px;
}

.right-arrow {
	right: 5px;
	display: none;
}

#intro-page-background-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#logo {
	background-image: url('images/intro-images/Logo-sprite.png');
  width: 100%;
  height: 191px;
  position: absolute;
  top: 33%;
  background-repeat: no-repeat;
  background-size: 7452px;
}

.animate-logo {
	animation: animate-logo 1.75s ease-out forwards;
	animation-timing-function: step-start;
}

#car {
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -6%;
  transition: all 2s ease-in-out;
}

.section, #app-wrapper {
	margin: 0;
  padding: 0;
  width: 100%;
	position: relative;
	overflow: hidden;
}

.animate-up {
	backface-visibility: hidden;
	transform: scaleX(0.8) translateY(85%) translateZ(-1px); 
}

.animate-down {
	z-index: -10;
	backface-visibility: hidden;
	transform: scaleX(0.8) translateY(-85%) translateZ(-1px); 
}

.section {
	background-size: 100%;
	background-repeat: no-repeat;
}

#configurator {
	width: 100%;
	background-image: url('images/customizer-screenshot.png');
}

#intro-page {
 transition: background-image 0.1s;
 transition-timing-function: step-start;
}

#configurator-cta {
	background-image: url('images/configDirection.png');
}

.gallery {
	width: 100%;
	margin: 0;
}

.thumbnail {
	width: 100%;
	height: 736px;
}

.main-image-container, .main-video-container {
	position: relative;
	overflow: hidden;
	top: 50%;
  transform: translateY(-50%);
}

.thumbnail-wrapper {
	overflow: hidden;
	float: left;
	transition: width 1s;
	transform: translate3d(0px, 0px, 0px);
}

.video {
	width: 100%;
	top: 50%;
  position: absolute;
  transform: translateY(-50%);
	float: left;
	overflow: hidden;
}

.video-still {
	width: 25%;
	float: left;
	transition: width 1s;
	transform: translate3d(0px, 0px, 0px);
	height: 736px;
}

.video-still-play-button {
	width: 75px;
	top: 40%;
	transform: translateY(-50%);
	position: absolute;
	left: 10%;
	pointer-events: none;
	transition: all 0.3s;
	transform: translateZ(1px);
	z-index: 3;
}

#player-close-button {
	position: absolute;
  top: 40%;
  transform: translateY(-95%) translateX(-50%);
  width: 25%;
  left: 85%;
  opacity: 0.35;
}

#iframe-wrapper {
	width: 25%;
	position: absolute;
	height: 100%;
	background-color: #000;
	overflow: hidden;
	z-index: 2;
}

#contact-info {
	background-image: url('images/KMI.png');
}

@keyframes animate-logo {

	0% {
		background-position: 0;
	}
	6% {
		background-position: -414px;
	}
	12% {
		background-position: -828px;
	}
	18% {
		background-position: -1242px;
	}
	24% {
		background-position: -1656px;
	}
	30% {
		background-position: -2070px;
	}
	36% {
		background-position: -2484px;
	}
	42% {
		background-position: -2898px;
	}
	48% {
		background-position: -3312px;
	}
	54% {
		background-position: -3726px;
	}
	60% {
		background-position: -4140px;
	}
	66% {
		background-position: -4554px;
	}
	72% {
		background-position: -4968px;
	}
	78% {
		background-position: -5382px;
	}
	84% {
		background-position: -5796px;
	}
	90% {
		background-position: -6210px;
	}
	96% {
		background-position: -6624px;
	}
	100% {
		background-position: -7038px;
	}
}